<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.shop.mapper.UserDemandMapper">
    <update id="submitComment">
        update service_total set quality_score=#{qualityScore},speed_score=#{speedScore},attitude_score=#{attitudeScore} where id=#{id}
    </update>
</mapper>